# PRODUCTION
CLERK_PUBLISHABLE_KEY_PRODUCTION=your-clerk-publishable-production-key
CLERK_SECRET_KEY_PRODUCTION=your-clerk-secret-production-key
CORS_ORIGIN_PRODUCTION="your-production-url"

# OTHER
DATABASE_URL="your-database-url"
PORT="10000"


# DEVELOPMENT
# CLERK_PUBLISHABLE_KEY_DEV=your-clerk-publishable-dev-key
# CLERK_SECRET_KEY_DEV=your-clerk-secret-dev-key
# CORS_ORIGIN_DEV="https://localhost:5173"